{% extends 'base.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

    {% endif %}

    <form method="post">
        {% csrf_token %}

        <div class="container text-center">
            <div class="mb-3 row justify-content-md-center">
                <label for="oldPassword" class="col-sm-2 col-form-label">Old password</label>
                <div class="col-sm-2">
                    <div class="centered-option-block">
                        {{ form.old_password }}
                    </div>
                </div>
            </div>

            <div class="container w-50">
                <ul class="list-group">
                    <li class="list-group-item">Your password can’t be too similar to your other personal information.</li>
                    <li class="list-group-item">Your password must contain at least 8 characters.</li>
                    <li class="list-group-item">Your password can’t be a commonly used password.</li>
                    <li class="list-group-item">Your password can’t be entirely numeric.</li>
                </ul>
            </div>

            <div>
                <br>
            </div>

            <div class="mb-3 row justify-content-md-center">
                <label for="newPassword1" class="col-sm-2 col-form-label">New password</label>
                <div class="col-sm-2">
                    <div class="centered-option-block">
                        {{ form.new_password1 }}
                    </div>
                </div>
            </div>

            <div class="mb-3 row justify-content-md-center">
                <label for="newPassword2" class="col-sm-2 col-form-label">Confirm new password</label>
                <div class="col-sm-2">
                    <div class="centered-option-block">
                        {{ form.new_password2 }}
                    </div>
                </div>
            </div>

            <input type="submit" class="btn btn-secondary" value="Save changes">
        </div>

    </form>

{% endblock content %}