{% extends 'base.html' %}

{% block content %}
    <style>
    .centered-option-block {
        padding-top: calc(.375rem + 1px);
        padding-bottom: calc(.375rem + 1px);
    }

    #id_notification_option {
        width: 100%;
    }
    #id_home_view {
        width: 100%;
    }
    #id_theme {
        width: 100%;
    }
    #id_date_view {
        width: 100%;
    }

    </style>


    {% if saved %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Saved!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <div class="container">
        <h3>User settings</h3>
        <p>To change your account settings select desirable options below and click on <b>Save</b> button.</p>
        <form action="{% url 'settings' %}" method="post">

            {% csrf_token %}
            <div class="container">
                <div class="mb-3">
                    <label for="id_notification_option" class="form-label">Notification option</label>
                    <select class="form-select" name='notification_option' id="id_notification_option">
                        <option selected value="1"> Push </option>
{#                        <option value="2"> Email </option>#}
{#                        <option value="3"> Both </option>#}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="id_home_view" class="col-sm-2 col-form-label">Home view</label>
                    <select class="form-select" name='home_view' id="id_home_view">
                        <option selected value="1"> Daily </option>
                        <option value="2"> Weekly </option>
                        <option value="3"> Monthly </option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="id_theme" class="col-sm-2 col-form-label">Theme</label>
                    <select class="form-select" name='theme' id="id_theme">
                        <option selected value="1"> Light </option>
                        <option value="2"> Dark </option>
                    </select>
                </div>

                <div class="text-center">
                    <input type="submit" class="btn btn-secondary" value="Save">
                </div>
            </div>
        </form>


        <h3>Change password</h3>
        <p>To change your password click on <b>Change password</b> button below.</p>
        <div class="container text-center">
            <a class="btn btn-danger" role="button" href="{% url 'change_password' %}">Change password</a>
        </div>
    </div>

{% endblock content %}