{% extends 'base.html' %}

{% block title %}
    Add task
{% endblock %}

{% block content %}
    <h3 style="margin-left: 10px">Edit task</h3>

    <form action="{% url "edit_task"  task.id %}" method="post">
        {% csrf_token %}

        <div class="container">
            <div class="mb-3">
                <label for="id_name" class="form-label"><b> Title </b></label>
                <input type="text" class="form-control" id="id_name" value="{{ task.name }}" maxlength="150" name="title">
            </div>

            <div class="mb-3">
                <label for="id_description" class="form-label"> <b> Description </b> </label>
                <textarea class="form-control" id="id_description" rows="3" maxlength="500" name="description"> {{ task.description }} </textarea>
            </div>

            <div class="mb-3">
                <label for="id_deadline_date" class="form-label"><b>Deadline date</b></label>
                <input type="date" class="form-control" id="id_deadline_date" name="deadline_date" value="{{ deadline_date }}">
            </div>

            <div class="mb-3">
                <label for="id_deadline_time" class="form-label"><b>Deadline time</b></label>
                <input type="time" class="form-control" id="id_deadline_time" name="deadline_time" value="{{ deadline_time }}">
            </div>

            <input type="hidden" name="id" value="{{ task_id }}">

            <div class="text-center">
                <input type="submit" class="align-center btn btn-secondary w-25" value="Save">
            </div>

        </div>

    </form>

{% endblock %}
