{% extends 'base.html' %}
{% block title %}
    Daily tasks
{% endblock %}

{% block content %}

    <style>
        .task-cell {
            font-size: 12px;
            padding: 2px 8px 2px 8px;
            margin: 1px 0 1px 0;
        }

        .fixed-button {
            position: fixed;
            bottom: 70px;
            right: 10px;
        }
    </style>

    {% include 'tasks/nav_tasks.html' %}
    {% include 'tasks/nav_dates.html' %}

    <h3 class="text-center">{{ month_name }}, {{ date.year }}</h3>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                Mon
            </div>
            <div class="col text-center">
                Tue
            </div>
            <div class="col text-center">
                Wed
            </div>
            <div class="col text-center">
                Thu
            </div>
            <div class="col text-center">
                Fri
            </div>
            <div class="col text-center">
                Sat
            </div>
            <div class="col text-center">
                Sun
            </div>
        </div>

        {% for row in tasks %}
            <div class="row">
                {% for cur_date, queryset in row %}
                    {% if cur_date > 0 %}
                        <div class="col" style="width: 13%; height: 150px; margin: 2px">

                            <div class="row h-100">
                                <div class="card h-100">
                                    <div class="card-header text-center"> <b>{{ cur_date }}</b> </div>
                                    <div class="card-body overflow-auto">
                                        <div class="list-group">
                                            {% if queryset %}
                                                {% for task in queryset %}
                                                    <!-- Trigger for modal window -->
                                                    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ task.id }}" class="list-group-item list-group-item-action task-cell" style="{% if task.complete %}background-color: #90EE90 {% endif %}">{{ task.name }}</a>
                                                    <!-- Modal window -->
                                                    <div class="modal fade" id="staticBackdrop{{ task.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <form method="post" action='{% url 'list_view' year=date.year month=date.month day=date.day %}'>
                                                            {% csrf_token %}
                                                            <input type="hidden" name="cur" value="{{ checked }}">
                                                            <input type="hidden" name="complete_id" value="{{ task.id }}">

                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="staticBackdropLabel{{ task.id }}">{{ task.name }}</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <h6 class="card-subtitle mb-2 text-muted"> <b>Due to: </b> {{ task.deadline }}</h6>
                                                                        <p class="card-text"> {{ task.description }}</p>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <div class="d-flex flex-row justify-content-between w-100">
                                                                            <div class="p-2">
                                                                                <a class="btn btn-danger" href="/tasks/delete/?id={{ task.id }}">delete</a>
                                                                                <a class="btn btn-light" href="/tasks/edit/?id={{ task.id }}">edit</a>
                                                                            </div>

                                                                            <div class="p-2">
                                                                                {% if not task.complete %}
                                                                                    <button type="submit" class="btn btn-secondary" name="incomplete">Incomplete</button>
                                                                                {% else %}
                                                                                    <button type="submit" class="btn btn-success" name="complete"> Complete </button>
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col"> </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <a href="/tasks/add" class="fixed-button btn btn-outline-secondary">Add task</a>

{% endblock %}