<form action="{% url 'list_view' year=date.year month=date.month day=date.day %}" method="post">
    {% csrf_token %}
    <div class="d-flex flex-row">
        <input type="hidden" name="cur" value="{{ checked }}">

        <div class="p-2 w-100">
            <button type="submit" class="btn btn-outline-secondary w-100" name="prev"> Previous </button>
        </div>

        <div class="p-2 w-100">
            <button type="submit" class="btn btn-outline-secondary w-100" name="next"> Next </button>
        </div>
    </div>
</form>

<br>
