<div class="d-flex flex-row-reverse">



    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

        <form method="post" action='{% url 'list_view' year=date.year month=date.month day=date.day %}'>
            {% csrf_token %}
            <button type="submit"  class="btn btn-primary {% if checked == 'Daily' %} active {% endif %}" name="daily"> Daily </button>
        </form>

        <form method="post" action='{% url 'list_view' year=date.year month=date.month day=date.day %}'>
            {% csrf_token %}

            <button type="submit" class="btn btn-primary {% if checked == 'Weekly' %} active {% endif %}" name="weekly"> Weekly </button>
        </form>

        <form method="post" action='{% url 'list_view' year=date.year month=date.month day=date.day %}'>
            {% csrf_token %}

            <button type="submit"  class="btn btn-primary {% if checked == 'Monthly' %} active {% endif %}" name="monthly"> Monthly </button>
        </form>

    </div>

</div>

<br>
