{% extends 'base.html' %}
{% block title %}
    Daily tasks
{% endblock %}

{% block content %}

    {% include 'tasks/nav_tasks.html' %}
    {% include 'tasks/nav_dates.html' %}

    <div class="container">
        {% if tasks %}
            {% for task in tasks %}
                <div class="card w-100" style="margin-bottom: 10px">
                    <div class="card-body">
                        <h5 class="card-title" id="flush-heading{{ task.id }}">{{ task.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ task.deadline }}</h6>
                        <p class="card-text">{{ task.description }}</p>

                        <div class="d-flex flex-row-reverse justify-content-between">
                            <div class="p-2">
                                <form method="post" action='{% url 'list_view' year=date.year month=date.month day=date.day %}'>
                                    {% csrf_token %}

                                    <input type="hidden" name="cur" value="{{ checked }}">
                                    <input type="hidden" name="complete_id" value="{{ task.id }}">

                                    {% if not task.complete %}
                                        <button type="submit" class="btn btn-secondary" name="incomplete">Incomplete</button>
                                    {% else %}
                                        <button type="submit" class="btn btn-success" name="complete"> Complete </button>
                                    {% endif %}

                                </form>
                            </div>
                            <div class="p-2">
                                <a class="btn btn-danger" href="/tasks/delete/?id={{ task.id }}">delete</a>
                                <a class="btn btn-light" href="/tasks/edit/?id={{ task.id }}">edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-success" role="alert">
                There are no tasks!
            </div>
        {% endif %}

        <div>
            <a class="btn btn-light" href="/tasks/add"> Add a new task </a>
        </div>

    </div>
{% endblock %}